<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body class="light-theme">

    <%- include('partials/nav'); %>

    <div class="hero">
        <div class="container">
            <h1 class="h1">Read Pinoy short stories, folklores, legends and many more!</h1>
        </div>
    </div>

    <main class="main">
        <div class="container">
            <h2 class="h2">Latest Tales</h2>

            <ul class="card-wrapper">
                <% latest_tales.forEach(tale => { %>
                    <%     
                    // maximum length of the preview content
                    const MAX_PREVIEW_LENGTH = 200;
                    // extract the preview content from the full content
                    const previewContent = tale.content.substring(0, MAX_PREVIEW_LENGTH); %>
                    <li>
                        <div class="card">
                            <div class="text-tiny genre" onclick="navigateToGenre('<%= tale.genre.url %>')"><%= tale.genre.name %></div>
                            <img class="banner" src="<%= tale.banner_url %>" alt="test" onClick="navigateToTale('<%= tale.url %>')">
                            <h3 class="h3 title" onClick="navigateToTale('<%= tale.url %>')"><%= tale.title %></h3>
                            <p class="preview-content"><%= previewContent %>...</p>
                        </div>
                    </li>
                <% }) %>
            </ul>

            <div class="padding-block">
                <h2 class="h2">Browse by Genre</h2>

                <ul class="block-wrapper">
                    <% genre_list.forEach(genre => { %>
                        <li class="btn-block" onclick="navigateToGenre('<%= genre.url %>')"><%= genre.name %></li>
                    <% }) %>
                </ul>

            </div>

            <div class="padding-block">
                <h2 class="h2">Browse by Author</h2>

                <ul class="block-wrapper">
                    <% author_list.forEach(author => { %>
                        <li class="btn-block" onclick="navigateToAuthor('<%= author.url %>')"><%= author.name %></li>
                    <% }) %>
                </ul>
            </div>

        </div>
    </main>

    <%- include('partials/footer'); %>
    
  </body>
</html>